*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body { 
    background: #f5f7fb;
    font-family:sans-serif;
}

/* =========================
   layout
========================= */

.container{
    max-width:1400px;
    margin:0 auto;
}

.pokemons{
    margin-bottom:50px;
    padding:0 20px;
    display: flex;
    gap:20px;
    align-items:stretch;
}

.battle-area {
    display: flex;
    gap:20px;
}

.select-pokemons{
    display:flex;
    gap:50px;
}
.main-pokemon-title {
    display: flex;
    gap:100px;
}
.held-items-select{
    text-align: center;
    border-radius:20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);

}
.held-items { 
    padding:5px;
    display:flex;
    gap:30px;
    justify-content:center;
}
.damage-result {
    width:300px;
    border:3px solid black;
    border-radius: 20px;
    padding:24px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    background: white;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.damage-result p{
    margin-bottom: 10px;
    font-size:18px;
    font-weight: bold;

}
.detail-damage-result { 
   display: flex;
   flex-direction: column;
   gap:20px;
}

.detail-damage-result > div {
    border-radius: 16px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    padding:20px;
    background:white;
}
.all-reset {
    display: flex;
    gap:30px;
}

/* =========================
   pokemon card
========================= */

.pokemon{
    padding:20px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    background: white;
    border:2px solid black;
    border-radius:20px;
}

.pokemon-items{
    display:flex;
    flex-direction:column;
}

.item-show{
    display:flex;
    gap:40px;
    align-items:flex-start;
}


/* =========================
   skill area
========================= */

.skill-wrapper{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.skill{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:20px;
}

.skill-list{
    list-style:none;
    padding:0;
}

.skill-list li{
    cursor:pointer;
    padding:5px;
    border-radius:5px;
    transition:0.2s;
}


/* =========================
   result area
========================= */

.pokemon-result{
    display:flex;
    flex-direction:column;
    max-width:500px;
    gap:20px;
}


/* =========================
   stats area
========================= */

.stats-text{
    border:2px solid black;
    border-radius:10px;
    padding:15px;
    min-width:100px;
    min-height:300px;
    background:white;
}

.stats-text p,
#enemy-stats-text p{
    margin-bottom:8px;
    font-size:20px;
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #ccc;
    padding:5px 0;
}


/* =========================
   shared box style
========================= */

.skill-wrapper,
.pokemon-result{
    border:2px solid black;
    border-radius:10px;
    padding:10px;
    background:white;
}

.skill-wrapper,
.pokemon-result,
.stats-text{
    min-height:300px;
}
.held-items-select {
    border:3px solid black;
}
.held-item {
    padding:0 20px;
    border:2px solid black;
    background:#f8f8f8;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    cursor:pointer;
    font-size:40px;
   border-radius: 16px;
}
.held-item:hover {
    transform: translateY(-10px);
}

/* =========================
   titles
========================= */

.skill-name,
.stats-title,
.result-tiile,
.enemy-stats p{
    font-size:32px;
    font-weight:bold;
    margin-bottom:10px;
}

.enemy-name,
.title-pokemon-title{
    font-size:32px;
    margin-top:10px;
}
.held-item-title {
    margin-bottom:5px;
    font-size:20px;
    letter-spacing:2px;
    font-weight:bold;
}
.all-reset-bottun{
    box-shadow: 0 2px black;
    transition: all 0.2s;
    background: #ef4444;
    color:white;
    border:none;
    border-radius: 8px;
    padding:8px 16px ;
    cursor: pointer;
    font-weight: bold;
}
.all-reset-bottun:hover {
    opacity: 0.6;
}
.all-reset-bottun:active {
    opacity: 1;
    box-shadow: none;
    transform: translateY(2px);
}
/* =========================
   labels
========================= */

.skill-one p,
.skill-two p,
.unite p,
.skill p,
.result-p{
    font-size:10px;
    background-color:black;
    color:white;
    padding:5px 10px;
    border-radius:5px;
}

.li p,
.enemy-title p{
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}
.select-font {
    font-size:18px;
    font-weight:bold;
}
.resurt-p-p {
   min-height: 40px;
   padding:8px 12px;
   border-radius: 8px;
   background: transparent;
}

/* =========================
   text style
========================= */

.stats-text p{
    font-weight:bold;
}


/* =========================
   enemy
========================= */

.enemy-pokemon{
    border:2px solid black;
    border-radius:20px;
    padding:20px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    background: white;
    min-width:300px;
    max-width:400px;
}

.enemy-title{
    margin-bottom:20px;
}

.enemy-stats{
    margin-top:20px;
}

#enemy-stats-text{
    border:2px solid black;
    border-radius:10px;
    padding:15px;
    min-width:250px;
    min-height:300px;
    background:white;
}
/*==========================
ここに持ち物一覧のクラスすべて書く
================================*/
.overlay {
     display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
    backdrop-filter:blur(5px);
  
    

    justify-content: center;
    align-items: center;
    
   
}
.item-modal {
     width:700px;
    height:500px;
   
    background:white;

    border-radius:20px;
    text-align:center;
    padding:20px;
    display: flex;
    justify-content: center;
    gap:100px;
}
.close-modal {
    font-size:20px;
    height: 30px;
    border:2px solid black;
}
.item-modal p {
    font-size:20px;
    height: 30px;
}
/*======================
hpバー作成
=======================*/
.hp-ber{
    width:100%;
    height:24px;
    background-color: #e5e7eb;
    border-radius:999px;
    overflow:hidden;
}
.hp-fill {
     width:100%;
     height:100%;
     background-color: #4caf50;
     transition: width 0.3s ease;
}
.hp-fill-normalAttack{
    height:100%;
    width:100%;
    background:green;

    transition:0.3s;
}